body, html {
    width: 600px; 
    height: 800px; 
    margin: 0;
    padding-top: 10px;
    background-color: #f0f0f0; 
}

.container {
    text-align: center;
}

#nameInput, #greetButton {
    margin: 10px 0;
    padding: 5px;
    border: none;
    border-radius: 5px;
}

#nameInput {
    width: 80%;
    transition: box-shadow 0.3s;
}

#nameInput:focus {
    box-shadow: 0 0 5px 2px #4faeff;
}

#greetButton {
    cursor: pointer;
    background-color: #4faeff;
    color: white;
    transition: background-color 0.3s, transform 0.2s;
}

#greetButton:hover {
    background-color: #3a8ecc;
    transform: scale(1.05);
}

#greetingText {
    margin-top: 20px;
}
